/* =============
    Section 3
============= */

#section-3{

    #section-3-hero{
        background-image: url("../img/hero-2.jpg");
        height: 60vh;
        background-size: cover;
        background-position: -35px 0;

        @include md{
            height: 55vh;
            background-position: center;
        }

        @include lg{
            height: 80vh;
        }
    }

    #section-3-text{

        grid-area: section-3-content;

        h2{
            color: $yellow;
            text-align: center;
            font-size: rem-calc(30);
        }

        hr{
            height: 2px;
            background-color: $light-green;
            border: none;
        }

        display: grid;
        grid-template-columns: 15px auto 15px;
        grid-template-areas: ". section-3-text .";

        article{
            grid-area: section-3-text;
            margin: 20px 0 10px;
        }

        @include md{
            display: grid;
            grid-template-columns: 10% auto 10%;
            grid-template-areas: ". section-3-text ."
        }

        @include lg{
            display: grid;
            grid-template-columns: 30% auto 30%;
            grid-template-areas: ". section-3-text ."
        }
    }
}  