/* =============
    Section 1
============= */

#section-1{

    margin-top: 80px;

    background-image: url("../img/hero.jpg");
    background-size: cover;
    background-position: top right;
    height: 50vh;

    @include md{
        height: 60vh;
    }

    @include lg{
        height: 70vh;
    }
}