/* =============
    Section 1
============= */
#section-1 {
    background-image: url("../img/hero.jpg");
    background-position: top right;
    background-size: cover;
    height: 50vh;
    margin-top: 80px;

    @include md {
        height: 60vh;
    }

    @include lg {
        height: 70vh;
    }

    @include xl {
        height: 85vh;
    }
}