/* =============
    Section 5
============= */

#section-5{
    display: grid;
    grid-template-columns: 15px auto 15px;
    grid-template-areas: ". content .";

    #section-5-content{
        grid-area: content;
        img{
            width: 100%;
        }
    }
}