/* =============
    Section 3
============= */

#section-3{

    article{
        img{
            width: 100%;
        }
    }

    #section-3-text{
        display: grid;
        grid-template-columns: 15px auto 15px;
        grid-template-areas: ". section-3-text .";

        article{
            grid-area: section-3-text;
        }

        @include md{
            display: grid;
            grid-template-columns: 10% auto 10%;
            grid-template-areas: ". section-3-text ."
        }

        @include xl{
            display: grid;
            grid-template-columns: 15% auto 15%;
            grid-template-areas: ". section-3-text ."
        }

        @include xl{
            display: grid;
            grid-template-columns: auto 1200px auto;
        }
    }
}  