/* =============
    Section 4
============= */

#section-4{
    display: grid;
    grid-template-columns: 15px auto 15px;
    grid-template-areas: ". section-4 .";

    ul{
        grid-area: section-4;
        display: grid;
        grid-template-columns: none;
        grid-gap: 20px;
        
        li{
            img{
                width: 100%;
            }
        }

        grid-template-rows: 3(1fr);
        grid-template-areas: 
        "g1"
        "g2"
        "g3";

        @include md{
            grid-template-columns: 50% auto;
            grid-template-areas:
                "g1 g1"
                "g2 g3";
        }

        @include lg{
            grid-template-columns: 60% 40%;
            grid-template-areas:
                "g1 g2"
                "g1 g3";
        }

        #g1{
            grid-area: g1;
        }

        #g2{
            grid-area: g2;
        }

        #g3{
            grid-area: g3;
        }
    }
}