/* =============
    Section 4
============= */

#section-4{
    display: grid;
    grid-template-columns: 15px auto 15px;
    grid-template-areas: ". section-4 .";

    @include xl{
        grid-template-columns: auto 1200px auto;
        grid-template-areas: ". section-4 .";
    }

    ul{
        grid-area: section-4;
        display: grid;
        grid-gap: 20px;
        
        li{
            background-size: cover;
            background-position: bottom;
            height: 300px;
        }

        grid-template-rows: 3(1fr);
        grid-template-areas: 
        "g1"
        "g2"
        "g3";

        @include md{
            grid-template-columns: 50% auto;
            grid-template-areas:
                "g1 g1"
                "g2 g3";
        }

        @include lg{
            grid-template-columns: 60% 40%;
            grid-template-areas:
                "g1 g2"
                "g1 g3";
        }

        #g1{
            background-image: url("../img/gallery-1.jpg");
            grid-area: g1;

            @include md{
                height: 700px;
            }

            @include lg{
                height: 820px;
            }
        }

        #g2{
            background-image: url("../img/gallery-2.jpg");
            grid-area: g2;

            @include lg{
                height: 400px;
            }
        }

        #g3{
            background-image: url("../img/gallery-3.jpg");
            grid-area: g3;
            background-size: 600px;

            @include md{
                background-size: 700px;
                background-position: -200px -660px;
            }

            @include lg{
                height: 400px;
                background-size: 800px;
                background-position: bottom;
            }
        }
    }
}