/* =============
    Section 2
============= */

#section-2{

    @include xl{
        display: grid;
        grid-template-columns: auto 1200px auto;
        grid-template-areas: ". section-2-desktop .";
    }

    #section-2-container{

        @include lg{
            display: grid;
            grid-template-columns: 50% auto;
            grid-template-areas: "section-2-photo section-2";
        }

        @include md{
            display: grid;
            grid-template-columns: 40% auto;
            grid-template-areas: "section-2-photo section-2";
        }

        @include xl{
            grid-area: section-2-desktop;
        }
        
        aside{
            img{
                width: 100%;
            }
        }

        #section-2-content{
            display: grid;
            grid-template-columns: 15px auto 15px;
            grid-template-areas: ". section-2-text .";
            grid-gap: 20px;

            @include md{
                grid-template-columns: 10% auto 10%;
            }

        }

        #section-2-text{
            grid-area: section-2-text;

            @include lg{
                display: block;
                margin: auto 0;
            }
        }

        #section-2-photo{
            grid-area: section-2-photo;
        }
    
    }
}