/* =============
    Footer
============= */

#footer{
    background-color: $light-green;
    
    article{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0 0;
    }
    
    aside{
        display: flex;
        justify-content: flex-end;
    
        h6{
            font-weight: 300;
            color: $white;
            margin: 0 0;
        }
    }
}