/* =============
    Footer
============= */

#footer{
    ul{
        background-color: $light-green;
        margin: 0;
        // padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        li:last-child{
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
        }
        
        h6{
            font-weight: 300;
            color: $white;
        }
    }
}