/* =============
    Header
============= */
header {
    background-color: $white;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;

    >div {
        display: grid;
        grid-template-areas: "logo burger"
            "nav nav";
        grid-template-columns: 80% auto;

        @include lg {
            grid-template-areas: "logo nav";
            grid-template-columns: 20% auto;
        }

        #logo-container {
            grid-area: logo;
            padding: 20px;
        }

        #burger-container {
            align-items: center;
            display: flex;
            grid-area: burger;
            justify-content: flex-end;
            padding: 20px;

            @include lg {
                display: none !important;
            }

            i {
                cursor: pointer;
            }
        }

        #nav-container {
            background-color: $light-grey;
            display: none;
            grid-area: nav;
            padding: 20px;

            @include lg {
                background-color: $white;
                display: block !important;
            }
        }
    }
}