/* =============
    Navigation
============= */
#nav-container {
    ul {
        height: 100%;
        text-align: right;

        @include lg {
            display: flex;
            justify-content: flex-end;
        }

        li {
            margin-bottom: 20px;

            @include lg {
                align-items: center;
                display: flex;
                margin: 0px 30px 0 0;
            }

            a:link,
            a:visited {
                color: $blue;
                text-decoration: none;
                transition: 0.25s;
            }

            a:hover,
            a:active {
                color: $black;
            }
        }
    }
}